{% extends "social_news/base.html" %}

{% block content %}
<style>
  .entry-link {
  font-size: 18px;
  }
  .entry-info {
  font-size: 12px;
  padding-bottom: 7px;
  }
</style>

{% for entry in entries %}
{% csrf_token %}
<div class = "entry-link">
  <a href = "{{entry.link}}" >{{entry.title}}</a>
</div>
<div class = "entry-info">
  <span class="glyphicon glyphicon-thumbs-up"></span>    
  {{entry.num_votes}} points by {{entry.author}} {{entry.post_date | timesince}} ago
</div>
{% endfor %}
{% endblock %}
